# **DATA SCIENCE CRASH COURSE**

### **BY CHIRAG P C**

### **DAY 1 : RETRIEVING AND CLEANING DATA**

#### **PART 1: RETRIEVING DATA**

In this section, weâ€™ll learn how to load datasets from common sources:

- CSV
- Excel (XLSX)
- JSON
- APIs

Using tools like pandas and requests, we'll read these formats and get them into DataFrames ready for cleaning and analysis.

Letâ€™s load some data! ðŸ’¡ðŸ“‚

#### **Importing all the required libraries**

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### **1. Importing data from .csv files**

In [8]:
df1 = pd.read_csv("Datasets\Iris\Iris.csv", index_col = 0)
df1.head()

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\chira\AppData\Local\Temp\ipykernel_21248\3134720035.py:1: SyntaxWarning: invalid escape sequence '\I'
  df1 = pd.read_csv("Datasets\Iris\Iris.csv", index_col = 0)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

#### **2. Importing data from .xslx files**

In [9]:
df2 = pd.read_excel("Datasets\Iris\Iris.xlsx", index_col = 0)
df2.head()

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\chira\AppData\Local\Temp\ipykernel_21248\3809467106.py:1: SyntaxWarning: invalid escape sequence '\I'
  df2 = pd.read_excel("Datasets\Iris\Iris.xlsx", index_col = 0)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

#### **3. Importing data from .json files**

In [10]:
df3 = pd.read_json("Datasets\Iris\Iris.json")
df3.head()

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\chira\AppData\Local\Temp\ipykernel_21248\1115719692.py:1: SyntaxWarning: invalid escape sequence '\I'
  df3 = pd.read_json("Datasets\Iris\Iris.json")

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

#### **4. Importing data from APIs**

#### A variety of data providers make data available via APIs, that makes it easy to access data via Python

In [11]:
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"

In [12]:
df4 = pd.read_csv(url)
df4.insert(0, 'Id', range(1, len(df4) + 1))
df4.head()

   Id  sepal_length  sepal_width  petal_length  petal_width species
0   1           5.1          3.5           1.4          0.2  setosa
1   2           4.9          3.0           1.4          0.2  setosa
2   3           4.7          3.2           1.3          0.2  setosa
3   4           4.6          3.1           1.5          0.2  setosa
4   5           5.0          3.6           1.4          0.2  setosa

#### **PART 2: CLEANING DATA**

Raw data is often messy â€” full of missing values, duplicates, and inconsistencies. Cleaning is the essential step that makes your data usable and reliable.

In this section, weâ€™ll cover:

- Handling missing values
- Removing duplicates
- Fixing data types
- Tidying up formats

Clean data = better insights. Letâ€™s get started. âœ…